.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.circle_progress__track {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
}
.circle_progress__bar {
  stroke: #ff9f1e;
}
